*,
*:after,
*:before{
padding: 0;
margin:0;
border: 0 ;
outline: 0;
-webkit-box-sizing: border-box;


box-sizing: border-box;


}

ol, ul {
	list-style: none;
}
li{ display: inline;
list-style-type: none;
}

a{
	
	text-decoration: none;
}

@font-face{
	font-family: Roboto-Medium;
	src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src: url(fonts/Roboto-Thin.ttf);
}

body{
	color: #585858;
	font-size: 18px;
	font-family: Roboto-Medium;
	background-color: #ffffff;
	
}
.frame {
	position: relative;
	width: 1172px;
	height: 100%;
	margin: 0 auto;
	
	
}

header{
	position: fixed;
	
	top: o;
	left: 0;
	width: 100%;
	height: 87px;
	background-color: #fff;
	border-bottom: 1px solid #dea7ef;
	line-height: 70px;
	z-index: 999;
	
}

.logo {
	width: 228px;
	height: 34px;
	margin-top:20px;
	background: url(slike/logo.png) no-repeat center center;
	display: block;
	float: left;
	margin-right: 35px;
	
}
.main-menu{
	float:left;
	
	
}

.main-menu li{
	float: left;
	cursor: pointer;
}

.main-menu li a{
	display: block;
	height: 87px;
	margin: 0px 10px;
	padding: 0px 15px;
	color:#494949;
	font-family: Roboto-Regular;
	
}
.main-menu li a.activ,
.main-menu li a:active,
.main-menu li a:hover{
	
	border-bottom: 6px solid #ffba00;
}
.search{
	float: right;
	border-radius: 30px;
	background-color: #d0d4d7;
	width: 350px;
	padding: 10px 15px;
	height: 39px;
	margin: 24px;
}
.search-input{
	float: left;
	width: 90%;
	background-color:transparent;
	font-size:14px;
	color:#828282;
	
}
.search-icon{
	float: right;
	width:20px;
	height: 20px;
	background: url(slike/icon.png) 0 0 no-repeat;
	display: block;
	cursor: pointer;
	
}
main{
	padding-top: 87px;
}
.poster{
	position: relative;
}

.poster-slides{
	height: 100%;
}
.poster-navigation{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 13%;
	
	
}
.poster-navigation-previus{
	left: 0;
	
	
}
.poster-navigation-next{
	right: 0;
}

.poster-navigation-icon{
	position: absolute;
	top: 50%;
	width: 100px;
	height: 100px;
	background-image: url(slike/icons-100.png);
	background-repeat: no-repeat;
	cursor: pointer;
	
	
}

.poster-navigation-previus-icon{
	left: 50%;
	background-position: 0 0;
	
}
.poster-navigation-next-icon{
	right:50%;
	background-position: 0 -100px;
	
}
.poster-slides{
	
	width: 100%;
	height: 728px;
	background: url(slike/poster.jpg) no-repeat;
}

.poster-title{
	
	font: 40px Roboto-Regular;
	font-weight: 500px;
}
.poster-item{
	position: absolute;
	top: 75px;
	left: 20px;
	width: 472px;
	color:#ffffff;
	padding-left: 30px;
}
.poster-subtitle{
	
	font: 24px Roboto-Medium;
	margin-top: 40px;
	width: 25%;
	
}

.poster-descriptione{
	
	margin-top: 40px;
	font:24px Roboto-Regular;
}
.poster-button{
	width: 297px;
	height: 45px;
	color: #fff;
	margin-top: 60px;
	padding: 10px 15px 10px 15px;
	font-size: 14px;
	background-color: #ffba00;
	border-radius: 30px;
	cursor: pointer;
}
.poster-button-title{
	float: left;
	font-weight: 500;
	
	
}
.poster-button-icon{
width: 20px;
height: 20px;
background: url(slike/icon.png) 0 -20px no-repeat;
float: right;	
}

.about-title{
	font-size: 24px;
	padding:40px 0;
	border-bottom: 2px solid rgba(109,109,109,0.43);
	
}

.about-item{
	width: 100%;
	height: 471px;
	margin: 30px 0 50px 0;
}

.about-item{
	float: left;
	width: 310px;
	margin-right: 121px;
	border-bottom: 17px solid #dea7ef;
	padding-bottom: 30px;
	
}
.about-item:last-child{
float: right;
margin-right: 0;
	
}