/* Reset browser defautls */
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* Set general border sizing */
}

.clearfix:before,
.cf:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

ol, ul {
    list-style: none;
}

li {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(fonts/Roboto-Thin.ttf);
}

body {
    color: #585858;
    font-size: 18px;
    font-family: RobotoMedium;
    background-color: #ffffff;
}

/* General classes */
.frame {
    position: relative;
    width: 1172px;
    height: 100%;
    margin: 0 auto;
}


/* Header */
header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 87px;
    line-height: 87px;
    background-color: #ffffff;
    border-bottom: 1px solid #dae7ef;
    z-index: 999;
}

.logo {
    display: block;
    float: left;
    width: 228px;
    height: 100%;
    margin-right: 35px;
    background: url(images/logo.png) no-repeat center center;
}

.main-menu {
    float: left;
    overflow: auto;
}

.main-menu li {
    float: left;
    cursor: pointer;
}

.main-menu li a {
    display: block;
    height: 87px;
    margin: 0 10px;
    padding: 0 15px;
    color: #494949;
    font-family: RobotoRegular;
}

.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a.active {
    border-bottom: 6px solid #ffba00;
}

.search {
    position: relative;
    float: right;
    width: 350px;
    /*height: 39px;*/
    padding: 11px 15px;
    margin-top: 24px;
    background-color: #d0d4d7;
    border-radius: 30px;
}

.search-input {
    float: left;
    width: 90%;
    color: #828282;
    font-size: 14px;
    background-color:transparent;
}
.search-icon {
    float: right;
    width: 20px;
    height: 20px;
    background: url(images/icons-20.png) 0 0 no-repeat;
    cursor: pointer;
}


/* Main content*/

main {
    padding-top: 87px;

}

/* Sections */

/* Poster */
.poster {
    position: relative;
}

.poster-slides{
    height: 100%;
}

.poster-slide {
    width: 100%;
    height: 728px;
    background: url(images/poster.jpg);
}

.poster-navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18%;
}

.poster-navigation-next {
    left: auto;
    right: 0;
}

.poster-navigation-icon {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    background-image: url(images/icons-100.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.poster-navigation-previous-icon {
    left: 50%;
    background-position: 0 0;
}

.poster-navigation-next-icon {
    right: 50%;
    background-position: 0 -100px;
}

.poster-item {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 472px;
    color: #ffffff;
    padding-left: 30px;
}

.poster-title {
    font: 46px/51px RobotoRegular;
    font-weight: 400;
}

.poster-subtitle {
    width: 50%;
    margin-top: 40px;
    font: 24px/35px RobotoMedium;
}

.poster-description {
    margin-top: 40px;
    font: 24px/35px RobotoRegular;
}

.poster-button {
    width: 297px;
    height: 45px;
    color: #ffffff;
    margin-top: 60px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #ffba00;
    border-radius: 30px;
    cursor: pointer;
}

.poster-button-title {
    float: left;
    font-weight: 500;
}

.poster-button-icon {
    float: right;
    width: 20px;
    height: 20px;
    background: url(images/icons-20.png) 0 -20px no-repeat;
}

/* About */
.about {
    color: #585858;
}

.about-title {
    font-size: 24px;
    padding: 40px 0;
    border-bottom: 2px solid rgba(109, 109, 109, 0.43);
}

.about-items {
    width: 100%;
    height: 471px;
    margin: 30px 0 50px 0;
}

.about-item {
    float: left;
    width: 310px;
    padding-bottom: 30px;
    margin-right: 121px;
    text-align: left;
    border-bottom: 17px solid #dae7ef;
}

.about-item:last-child {
    float: right;
    margin-right: 0;
}

.about-item-icon {
    width: 80px;
    height: 80px;
    background-image: url(images/icons-80.png);
    background-repeat: no-repeat;
}

.icon2 {
    background-position: 0 -80px;
}

.icon3 {
    background-position: 0 -160px;
}

.about-item-title {
    margin: 20px 0 30px 0;
    font-size: 30px;
}

.about-item-description {
    font-size: 16px;
}

.about-item-link {
    color: #ffba00;
    font-size: 16px;
}

/* Subscribe */
.subscribe {
    position: relative;
}

.subscribe-parallax {
    width: 100%;
    height: 560px;
    background: url(images/paralax.jpg) no-repeat center -1348px; 
}

.subscribe-item {
    /*margin-top: -561px;*/
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 27px 75px;
}

.subscribe-title {
    margin: 26px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
}

.subscribe-area {
    /*width: 1022px;*/
    height: 145px;
    padding: 20px;
    background-color: #ffffff;
}

.subscribe-description {
    float: left;
    width: 55%;
    height: 100%;
    padding: 25px 0;
    line-height: 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.subscribe-controls {
    float: right;
    width: 45%;
    height: 100%;
    padding: 0 45px;
    text-align: left;
}

.subscribe-controls-label {
    color: #949b9f;
    margin-left: 7px;
}

.subscribe-controls-row {
    width: 353px;
    height: 40px;
    color: #bdbdbd;
    margin-top: 22px;
    background-color: rgba(200, 204, 206, 0.5);
    border-radius: 30px;
}

.subscribe-controls-input {
    width: 88%;
    font-size: 12px;
    padding: 13px 20px;
    background-color: transparent;
}

.subscribe-controls-button {
    position: relative;
    float: right;
    width: 38px;
    height: 38px;
    background-color: #ffba00;
    border-radius: 50%;
    cursor: pointer;
}

.subscribe-controls-button::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url(images/icons-20.png);
    background-position: 0 -20px;
    background-repeat: no-repeat;

}

/* Contact */
.contact {
    position: relative;
}

#contact-map {
    width: 100%;
    height: 809px;
}

.contact-area {
    position: absolute;
    top: -165px; bottom: 0;
    left: 0; right: 0;
    height: 393px;
    background-color: #ffba00;
}

.contact-items {
    padding: 35px 40px;
    overflow: auto;
}

.contact-item {
    float: left;
    width: 345px;
    margin-right: 28px;
    color: #ffffff;
}

.contact-item:last-child {
    float: right;
    margin-right: 0;
}

.contact-item-title {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-item-description {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.contact-item-row {
    font-size: 18px;
    font-weight: 500;
    overflow: auto;
}

.contact-item-input {
    width: 100%;
    height: 34px;
    margin-top: 5px;
    padding: 5px;
}

.contact-item-textarea {
    height: auto;
    resize: none;
}

.contact-item-button {
    float: right;
    width: 185px;
    height: 36px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.contact-item-button-title {
    float: left;
    color: #b4b4b4;
    font-size: 16px;
    font-weight: 500;
}

.contact-item-button-icon {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background: url(images/icons-20.png) no-repeat 0 -40px;
}

.contact-item-rating {
    overflow: auto;
}

.contact-item-rating-item {
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/icons-40.png) no-repeat 0 -200px;
    cursor: pointer;
}

.contact-item-rating-item.active {
    background: url(images/icons-40.png) no-repeat 0 -160px;
}


/* Footer */

footer {
    height: 124px;
    line-height: 124px;
}

.copyright {
    float: left;
    width: 70%;
}

.copyright-label {
    color:  #b4b4b4;

}

.copyright-title {
    color: #ffba00;
}

.social-menu {
    float: right;
    width: 30%;
    margin: 42px 0;
}

.social-menu ul {
    overflow: auto;
}

.social-menu li {
    float: left;
}

.social-menu li a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(images/icons-40.png);
    background-repeat: no-repeat;
}

.twitter {
    background-position: 0 0;
}

.instagram {
    background-position: 0 -40px;
}

.facebook {
    background-position: 0 -80px;
}

.google-plus {
    background-position: 0 -120px;
}

